* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../img/PTALE.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  border: 0;
  margin: 0;
  transition: 5s;
}

.lateral {
  display: flex;
  position: fixed;
  left: -100%; /* oculta o elemento na lateral */
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #161b21;
  border-color: auto;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2em;
  box-shadow: 0px 4px 4px 0px #536994;
  transition: left 0.5s ease-in-out;
}

.divLateral {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 128px 0;
  margin: 1rem;
  transition: opacity 0.5s ease-in-out;
}

.divLateralContato {
  padding-top: 1em;
  margin-bottom: 1em;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-style: dotted;
  transition: opacity 0.5s ease-in-out;
}

.subP {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.subP:visited {
  color: unset;
}
.subP:hover {
  text-decoration: underline;
  color: #fff;
}

.gpp {
  text-decoration: none;
  color: #fff;
  width: 36px;
  height: 36px;
  padding: auto;
  margin: 14px auto 14px 0em;
}
.gpp:visited {
  color: unset;
  text-decoration: none;
}
.gpp:hover {
  text-decoration: underline;
  color: #fff;
}

.wpp {
  background-image: url(../img/whatsapp-brands.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-repeat: no-repeat;
  padding: auto;
  margin-right: 0;
  margin-left: 0;
  background-position: center;
  background-color: white;
  border-bottom: 3px solid #34af23;
  text-decoration: none;
}
.wpp:visited {
  color: unset;
  text-decoration: none;
}

.insta {
  background-image: url(../img/instagram-brands.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-repeat: no-repeat;
  padding: auto;
  margin-right: 0;
  margin-left: 0;
  background-position: center;
  background-color: white;
  border-bottom: 3px solid #a32ab5;
}

.ghub {
  background-image: url(../img/github-brands.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-repeat: no-repeat;
  padding: auto;
  margin-right: 0;
  margin-left: 0;
  background-position: center;
  background-color: white;
  border-bottom: 3px solid #1e4985;
}

.nullLateral {
  left: 0;
}

.body-closed {
  overflow: hidden;
}

.body {
  background-color: #536994;
  background-color: #e5e5f7;
  opacity: 98%;
  overflow: unset;
}

.bkg {
  background-image: url(../img/PTALE.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-alter {
  background-color: #536994;
  background-color: #060204;
  opacity: 98%;
  overflow: unset;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  border: #a32ab5 solid 2px;
  box-shadow: 0px 0px 0px 1px rgba(77, 77, 77, 0.6980392157);
  z-index: 9999;
  transition: width 0.1s ease-out;
}

.progress-bar-alter {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  border: #536994 solid 2px;
  box-shadow: 0px 0px 0px 1px rgba(77, 77, 77, 0.6980392157);
  z-index: 9999;
  transition: width 0.1s ease-out;
}

.header {
  display: flex;
  color: auto;
  background-color: #161b21;
  border-color: auto;
  width: 100%;
  height: 64px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 4px 0px #536994;
  transition: box-shadow 0.5s ease-in-out;
}

.header-alter {
  display: flex;
  color: auto;
  background-color: #161b21;
  border-color: auto;
  width: 100%;
  height: 64px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 4px 0px #a32ab5;
  transition: box-shadow 0.5s ease-in-out;
}

.icon1 {
  position: fixed;
  color: auto;
  background-color: auto;
  border-color: auto;
  width: 36px;
  height: 36px;
  padding: auto;
  margin: 14px auto 14px 2em;
  border-radius: 30%;
  box-shadow: 0px 1px 1px 1px #161b21;
  background-image: url("../img/icon1-HAM.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-color: #161b21;
  transition: 0.2s;
}
.icon1:hover {
  transition: 0.2s;
  border-radius: 10%;
}

.icon1-close {
  position: fixed;
  color: auto;
  background-color: auto;
  border-color: auto;
  width: 36px;
  height: 36px;
  padding: auto;
  margin: 14px auto 14px 2em;
  box-shadow: 0px 0px 1px 1px #fff;
  background-image: url("../img/closee.svg");
  background-size: cover;
  background-position: center;
  background-color: #161b21;
  z-index: 10;
  cursor: pointer;
  transition: 0.2s;
}
.icon1-close:hover {
  transition: 0.2s;
}

#div-title {
  color: #cbcfd3;
  background-color: transparent;
  border-color: auto;
  width: 100%;
  height: auto;
  padding: auto;
  margin: auto;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.icon2 {
  position: fixed;
  color: auto;
  background-color: auto;
  border-color: auto;
  width: 36px;
  height: 36px;
  padding: auto;
  margin: 14px 2em 14px auto;
  right: 0;
  border-radius: 30%;
  background-image: url("../img/icon2-LMODE.svg");
  background-size: cover;
  background-position: center;
  background-color: #161b21;
  box-shadow: 0px 1px 1px 1px #161b21;
  transition: 0.2s;
  cursor: pointer;
}
.icon2:hover {
  transition: 0.2s;
  border-radius: 10%;
}

.icon2-alter {
  position: fixed;
  color: auto;
  background-color: auto;
  border-color: auto;
  width: 36px;
  height: 36px;
  padding: auto;
  margin: 14px 2em 14px auto;
  right: 0;
  border-radius: 30%;
  background-image: url("../img/icon2-DMODE.svg");
  background-size: cover;
  background-position: center;
  background-color: #161b21;
  box-shadow: 0px 1px 1px 1px #161b21;
  transition: 0.2s;
  cursor: pointer;
}
.icon2-alter:hover {
  transition: 0.2s;
}

.title-welcome {
  display: flex;
  color: #161b21;
  background-color: #AFBCCA;
  border-color: #00beff;
  border: 2px solid #161b21;
  width: 50%;
  height: 44px;
  padding: auto;
  margin: 1em auto 1em auto;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 0 2px rgba(77, 77, 77, 0.6980392157);
  font-family: "Roboto";
  font-size: 2em;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.title-welcome-alter {
  display: flex;
  color: #AFBCCA;
  background-color: #161b21;
  border-color: #a32ab5;
  border: 2px solid;
  width: 50%;
  height: 44px;
  padding: auto;
  margin: 1em auto 1em auto;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 0 0 rgba(77, 77, 77, 0.6980392157);
  font-family: "Roboto";
  font-size: 2em;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.main-container {
  color: auto;
  background-color: #161b21;
  border-color: auto;
  background: linear-gradient(149deg, #161b21, #00beff);
  width: 80%;
  height: auto;
  padding: 3em;
  margin: 2em auto 2em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background 0.2s ease-out;
}

.main-container-alter {
  color: auto;
  background-color: auto;
  border-color: auto;
  background: linear-gradient(149deg, #161b21, #a43ab5);
  width: 80%;
  height: auto;
  padding: 3em;
  margin: 2em auto 2em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background 0.2s ease-out;
}

#card-profile {
  display: flex;
  color: #161b21;
  background-color: transparent;
  border-color: auto;
  width: 80%;
  height: 250px;
  padding: 0;
  margin: auto;
  border-radius: 5px;
}

.img {
  color: auto;
  background-color: transparent;
  border-color: 5px auto;
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0;
  min-width: 250px;
  min-height: 250px;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
}

.data-img {
  display: auto;
  color: #161b21;
  background-color: #fff;
  border-color: auto;
  width: 60%;
  height: 100%;
  padding: 0;
  margin: auto 0 auto auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.2s ease-in-out;
}

.data-img-alter {
  display: auto;
  color: #161b21;
  background-color: #f8f4c5;
  border-color: auto;
  width: 60%;
  height: 100%;
  padding: 0;
  margin: auto 0 auto auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.2s ease-in-out;
}

#qr-code-insta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: inherit;
  padding: 0;
  margin: auto;
  background-image: url("/img/logoInstaa.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.button-details-data {
  display: flex;
  color: auto;
  background-color: transparent;
  border-color: auto;
  box-shadow: 0px 0px 0px 2px #a43ab5;
  border-radius: 5px;
  background-image: url("../img/qrcode.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: auto;
  margin: 1em auto auto auto;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
  transition: background-image 0.5s ease-in-out;
}
.button-details-data:hover {
  transition: 0.5s;
  background-image: url("../img/qrcode.svg");
  background-repeat: no-repeat;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 2px #fab57d;
}

#data-img2 {
  display: none;
  color: #161b21;
  background-color: auto;
  border-color: auto;
  background-image: linear-gradient(to right top, #fab57d, #a43ab5);
  width: 60%;
  height: 100%;
  padding: 0;
  margin: auto 0 auto auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-image 0.5s ease-in-out;
}

#p-data-img {
  display: auto;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 1em;
  margin: auto;
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#insta {
  color: #161b21;
  background-color: auto;
  border-color: auto;
  width: auto;
  height: auto;
  padding: 0 1rem 0 1rem;
  margin: auto;
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: bold;
  background-image: linear-gradient(to right top, #fab57d, #a43ab5);
  border-radius: 7px;
  text-decoration: none;
}

#title-card-project {
  display: flex;
  color: #AFBCCA;
  background-color: #161b21;
  border-color: auto;
  width: 30%;
  height: 3em;
  padding: 0;
  margin: 5em auto 2em auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
}

#p-title-card-project {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
}

#card-project {
  display: grid;
  color: auto;
  background-color: #161b21;
  border-color: auto;
  width: 100%;
  height: auto;
  padding: 2em;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
}

#card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.a-item {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #161b21;
  background-color: #fff;
  border-color: auto;
  width: 26.6666666667%;
  height: 2em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}
.a-item:visited {
  color: unset;
}

.a-item-alter {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #161b21;
  background-color: #f8f4c5;
  border-color: auto;
  width: 26.6666666667%;
  height: 2em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}
.a-item-alter:visited {
  color: unset;
}

.card-competence {
  display: flex;
  flex-direction: column;
  color: auto;
  background-color: #fff;
  border-color: auto;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 5em 0 2em 0;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}

.card-competence-alter {
  display: flex;
  flex-direction: column;
  color: auto;
  background-color: #f8f4c5;
  border-color: auto;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 5em 0 2em 0;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}

#title-card-competence {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFBCCA;
  background-color: #161b21;
  border-color: auto;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  width: 30%;
  height: 3em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
}

#p-title-card-competence {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: bold;
}

#icons-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(80px, auto);
  width: 70%;
  height: 100%;
  padding: 1em;
  margin: auto;
}

.icon {
  display: grid;
  color: auto;
  background-color: transparent;
  border-color: auto;
  width: 49px;
  height: auto;
  padding: auto;
  margin: auto;
}

.title-card-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161b21;
  background-color: #fff;
  border-color: auto;
  width: 30%;
  height: 3em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}

.title-card-contact-alter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161b21;
  background-color: #f8f4c5;
  border-color: auto;
  width: 30%;
  height: 3em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}

#p-title-card-contact {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: bold;
}

#card-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-contact-exchange {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFBCCA;
  background-color: #161b21;
  border-color: auto;
  width: 20%;
  height: 3em;
  padding: 0;
  margin: 1em auto 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
}

#icon-left {
  display: flex;
  color: auto;
  background-color: auto;
  border-color: auto;
  background-image: url("../img/arrow-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: auto;
  margin: auto;
  cursor: pointer;
}

#icon-center-variable {
  display: flex;
  color: auto;
  background-color: transparent;
  border-color: auto;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: auto;
  background-image: url("../img/inbox.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#p-icon-center-variable {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: bold;
}

#icon-right {
  display: flex;
  color: auto;
  background-color: auto;
  border-color: auto;
  background-image: url("../img/arrow-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: auto;
  margin: auto;
  cursor: pointer;
}

#card-contact-form {
  display: flex;
  justify-content: center;
  color: #161b21;
  background-color: transparent;
  border-color: auto;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 1em;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.input-form {
  display: flex;
  color: #AFBCCA;
  background-color: #161b21;
  border-color: auto;
  width: 100%;
  height: 42px;
  padding: 1em;
  margin: 0em;
  border-radius: 7px;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  text-align: center;
}
.input-form:focus {
  outline: #536994;
  border: 2px solid #fff;
}
.input-form:focus::placeholder {
  color: transparent;
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161b21;
  background-color: #fff;
  border-color: #161b21;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 0em;
  border: 2px solid #161b21;
  border-radius: 7px;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}
.msg:focus {
  outline: #536994;
  border: 2px dotted #161b21;
}

.msg-alter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161b21;
  background-color: #f8f4c5;
  border-color: #161b21;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 0em;
  border: 2px solid #161b21;
  border-radius: 7px;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  transition: background-color 0.5s ease-in-out;
}
.msg-alter:focus {
  outline: #536994;
  border: 2px dotted #161b21;
}

#sub {
  color: #AFBCCA;
  background-color: #161b21;
  border-color: auto;
  width: auto;
  height: auto;
  padding: 0.5em 1em 0.5em 1em;
  margin: auto;
  border-radius: 7px;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
  cursor: pointer;
  transition: 0.2s;
}
#sub:hover {
  color: #161b21;
  background-color: #cbcfd3;
  border-color: auto;
  transition: 0.2s;
}

@media (max-width: 425px) {
  .lateral {
    display: flex;
    position: fixed;
    left: -100%; /* oculta o elemento na lateral */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #161b21;
    border-color: auto;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2em;
    box-shadow: 0px 4px 4px 0px #536994;
    transition: left 0.5s ease-in-out;
  }
  .divLateral {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 128px 0;
    margin: 1rem;
    transition: opacity 0.5s ease-in-out;
  }
  .divLateralContato {
    padding-top: 1em;
    margin-bottom: 1em;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-style: dotted;
    transition: opacity 0.5s ease-in-out;
  }
  .body-closed {
    overflow: hidden;
  }
  .subP {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }
  .subP:visited {
    color: unset;
  }
  .subP:hover {
    text-decoration: underline;
    color: #fff;
  }
  .gpp {
    text-decoration: none;
    color: #fff;
    width: 36px;
    height: 36px;
    padding: auto;
    margin: 14px auto 14px 0em;
  }
  .gpp:visited {
    color: unset;
    text-decoration: none;
  }
  .gpp:hover {
    text-decoration: underline;
    color: #fff;
  }
  .wpp {
    background-image: url(../img/whatsapp-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #34af23;
    text-decoration: none;
  }
  .wpp:visited {
    color: unset;
    text-decoration: none;
  }
  .insta {
    background-image: url(../img/instagram-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #a32ab5;
  }
  .ghub {
    background-image: url(../img/github-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #1e4985;
  }
  .nullLateral {
    left: 0;
  }
  #title {
    font-size: 18px;
  }
  .icon1-close {
    box-shadow: 0px 0px 1px 1px #fff;
  }
  .icon1, .icon2, .icon2-alter {
    display: flex;
    position: relative;
    min-width: 36px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .title-welcome, .title-welcome-alter {
    font-size: 0.9em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: none;
    border: none;
    font-size: 1em;
  }
  .title-welcome {
    margin-top: 0;
    background-color: rgba(22, 27, 33, 0.6901960784);
    color: #AFBCCA;
    border-radius: 0;
    width: 100%;
  }
  .title-welcome-alter {
    margin-top: 0;
    border: #00beff;
    border-radius: 0;
    width: 100%;
  }
  .main-container, .main-container-alter {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  .main-container {
    background: linear-gradient(180deg, transparent 1%, #161b21 2%, #00beff 100%);
  }
  .main-container-alter {
    background: linear-gradient(180deg, transparent 1%, #161b21 2%, #a43ab5 100%);
  }
  #card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
  }
  .img, .igm-alter {
    margin-top: 2em;
    border-radius: 50%;
    min-width: 180px;
    width: 180px;
    min-height: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .data-img, .data-img-alter, #p-data-img {
    display: auto;
    border-radius: 0;
    margin: auto;
    width: 100%;
    background-color: transparent;
    color: #AFBCCA;
    font-size: 1.1em;
    box-shadow: none;
  }
  .button-details-data {
    display: none;
  }
  #card-project {
    border-radius: 0;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  #card-content {
    display: grid;
    gap: 0px;
  }
  .a-item {
    display: grid;
    gap: 0px;
    width: 100%;
    height: 2em;
    padding: 0;
    margin: 4px auto 4px auto;
    border-radius: 7px;
  }
  .a-item:visited {
    color: unset;
  }
  .a-item-alter {
    color: #161b21;
    background-color: #f8f4c5;
    border-color: auto;
    background-color: rgba(22, 27, 33, 0.6901960784);
  }
  .a-item-alter:visited {
    color: #AFBCCA;
  }
  #title-card-project {
    margin-top: 2em;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  #title-card-project, .title-card-contact, .title-card-contact-alter {
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 7px;
    font-size: 1em;
    box-shadow: none;
  }
  #title-card-competence {
    width: max-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 7px;
    font-size: 1em;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  .card-competence, .card-competence-alter {
    border-radius: 0;
    box-shadow: none;
  }
  .card-competence-alter {
    background-color: rgba(229, 229, 247, 0.1137254902);
  }
  #card-contact-exchange {
    width: fit-content;
  }
  .icon {
    width: 36px;
  }
}
@media (max-width: 1023px) {
  #title {
    font-size: 18px;
  }
  .icon1, .icon2, .icon2-alter {
    min-width: 36px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .title-welcome, .title-welcome-alter {
    font-size: 0.9em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: none;
    border: none;
    font-size: 1em;
  }
  .title-welcome {
    margin-top: 0;
    background-color: rgba(22, 27, 33, 0.6901960784);
    color: #AFBCCA;
    border-radius: 0;
    width: 100%;
  }
  .title-welcome-alter {
    margin-top: 0;
    border: #00beff;
    border-radius: 0;
    width: 100%;
  }
  .main-container, .main-container-alter {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  .main-container {
    background: linear-gradient(180deg, transparent 1%, #161b21 2%, #00beff 100%);
  }
  .main-container-alter {
    background: linear-gradient(180deg, transparent 1%, #161b21 2%, #a43ab5 100%);
  }
  #card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
  }
  .img, .igm-alter {
    margin-top: 2em;
    border-radius: 50%;
    min-width: 180px;
    width: 180px;
    min-height: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .data-img, .data-img-alter, #p-data-img {
    display: auto;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    color: #AFBCCA;
    font-size: 1.1em;
    box-shadow: none;
  }
  .button-details-data {
    display: none;
  }
  #card-project {
    border-radius: 0;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  #title-card-project {
    margin-top: 2em;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  #title-card-project, .title-card-contact, .title-card-contact-alter {
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 7px;
    font-size: 1em;
    box-shadow: none;
  }
  #title-card-competence {
    width: max-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 7px;
    font-size: 1em;
    background-color: rgba(22, 27, 33, 0.6901960784);
    box-shadow: none;
  }
  .card-competence, .card-competence-alter {
    border-radius: 0;
    box-shadow: none;
  }
  .card-competence-alter {
    background-color: rgba(229, 229, 247, 0.1137254902);
  }
  #card-contact-exchange {
    width: fit-content;
  }
  .icon {
    width: 36px;
  }
}
@media (min-width: 426px) {
  #card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .a-item {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 26.6666666667%;
    height: 2em;
    padding: auto;
    margin: auto;
    min-width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 7px;
  }
  .a-item:visited {
    color: unset;
  }
  .a-item-alter {
    color: #161b21;
    background-color: #f8f4c5;
    border-color: auto;
    width: 26.6666666667%;
    height: 2em;
    padding: auto;
    margin: auto;
    min-width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(22, 27, 33, 0.6901960784);
  }
  .a-item-alter:visited {
    color: #AFBCCA;
  }
}
@media (min-width: 1023px) {
  #card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .a-item {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #161b21;
    background-color: #fff;
    border-color: auto;
    width: 26.6666666667%;
    height: 2em;
    padding: 0;
    margin: 1em auto 1em auto;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
    font-family: "Roboto";
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-decoration: none;
  }
  .a-item:visited {
    color: unset;
  }
  .a-item-alter {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #161b21;
    background-color: #f8f4c5;
    border-color: auto;
    width: 26.6666666667%;
    height: 2em;
    padding: 0;
    margin: 1em auto 1em auto;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.6980392157);
    font-family: "Roboto";
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-decoration: none;
  }
  .a-item-alter:visited {
    color: unset;
  }
}
@media (max-width: 1280px) {
  .data-img, .data-img-alter {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  #p-data-img {
    color: #AFBCCA;
  }
  .button-details-data {
    background-color: #AFBCCA;
  }
  #data-img2 {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
  }
  #qr-code-insta {
    margin-top: 1em;
    width: 180px;
    height: 180px;
    background-color: #AFBCCA;
    border-radius: 7px;
    background-position: center;
  }
}

/*# sourceMappingURL=style.css.map */
