//Cores universais
$primary-color: #161b21;
$secondary-color: #cbcfd3;
$tertiary-color: #536994;
$altern1-color: #AFBCCA;
$altern2-color: #00beff;
$gener-color1: #fff;
$box-shadow-color: #4d4d4db2;
$nocturne-background: #f8f4c5;

//Paleta de cores Header
$primary-header-color: #161b21;
$secondary-header-color: #cbcfd3;
$tertiary-header-color: #536994;

//Paleta de cores Title-main
$primary-title-color: #161b21;
$altern1-title-color: #AFBCCA;
$box-shadow-color: #4d4d4db2;

//Paleta de cores Main
$primary-main-color: #161b21;
$box-shadow-color: #4d4d4db2;
$altern2-main-color: #00beff;


//Paleta de cores Card Profile
$primary-profile-color: #161b21;
$gener-profile-color1: #fff;
$altern2-profile-color: #00beff;
$box-shadow-color: #4d4d4db2;


//Paleta de cores Card Projetos
$primary-project-color: #161b21;
$altern1-project-color: #00beff;
$gener-project-color1: #fff;
$box-shadow-color: #4d4d4db2;


//Paleta de cores Card Competencias
$primary-competence-color: #161b21;
$altern1-competence-color: #00beff;
$gener-competence-color1: #fff;
$box-shadow-color: #4d4d4db2;


//Paleta de cores Card Formulario
$primary-form-color: #161b21;
$secondary-form-color: #cbcfd3;
$tertiary-form-color: #536994;
$altern1-form-color: #00beff;
$gener-form-color1: #fff;
$box-shadow-color: #4d4d4db2;





$linkedin-color: #0a66c2;
$github-color: #6b737c;
$whatsapp-color: #01e673;
$instagram-color: #ef5865;
