
html {  
    background-image:  url(../img/PTALE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    border: 0;
    margin: 0;
    transition: 5s;
}

.lateral {
    display: flex;
    position: fixed;
    left: -100%; /* oculta o elemento na lateral */
    @include definition-size (250px, 100%, 0, 0);
    @include definition-color($gener-color1, $primary-color, auto);
    @include definition-font ( 'Roboto', 20px, 400);
    text-align: center;
    letter-spacing: 0.2em;
    box-shadow: 0px 4px 4px 0px $tertiary-color;

    transition: left 0.5s ease-in-out;
    
}
.divLateral {
    display: flex;
    flex-direction: column;
    @include definition-size (100%, 100%, 128px 0, 1rem);
    transition: opacity 0.5s ease-in-out;
    
}

.divLateralContato {
    padding-top: 1em;
    margin-bottom: 1em;
    border-top: 2px solid $gener-color1;
    border-bottom: 2px solid $gener-color1;
    border-style:dotted;
    transition: opacity 0.5s ease-in-out;
    
}

.subP {
    font-size: 16px;
    text-decoration: none;
    color: $gener-color1;
        &:visited {
            color: unset;
        }
        &:hover {
            text-decoration: underline;
            color: $gener-color1;
        }
}

.gpp {
    text-decoration: none;
    color: $gener-color1;
        &:visited {
            color: unset;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
            color: $gener-color1;
        }
    @include definition-size (36px, 36px, auto, 14px auto 14px 0em);
}
.wpp {
    background-image: url(../img/whatsapp-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #34af23 ;
    text-decoration: none;
        &:visited {
            color: unset;
            text-decoration: none;
        }
}
.insta {
    background-image: url(../img/instagram-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #a32ab5;
}
.ghub {
    background-image: url(../img/github-brands.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-repeat: no-repeat;
    padding: auto;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-color: white;
    border-bottom: 3px solid #1e4985;
}
.nullLateral {
    left: 0;
    
}

.body-closed {
    overflow: hidden;
}
.body {
    background-color: $tertiary-color;
    background-color: #e5e5f7;
    opacity: 98%;
    overflow:unset;
}
.bkg {

    
    background-image:  url(../img/PTALE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.body-alter {
    background-color: $tertiary-color;
    background-color: #060204;
    opacity: 98%;
    overflow:unset;
    
}




//CABEÇALHO

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
    border: #a32ab5 solid 2px;
    box-shadow: 0px 0px 0px 1px $box-shadow-color;
    z-index: 9999;
    transition: width 0.1s ease-out;
  }

.progress-bar-alter {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
    border: #536994 solid 2px;
    box-shadow: 0px 0px 0px 1px $box-shadow-color;
    z-index: 9999;
    transition: width 0.1s ease-out;
  }

.header {
    display: flex;
    @include definition-color (auto, $primary-header-color, auto);
    @include definition-size (100%, 64px, 0, 0);
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    transition: box-shadow 0.5s ease-in-out
}
.header-alter {
    display: flex;
    @include definition-color (auto, $primary-header-color, auto);
    @include definition-size (100%, 64px, 0, 0);
    box-shadow: 0px 4px 4px 0px #a32ab5;
    transition: box-shadow 0.5s ease-in-out
}
.icon1 {
    position: fixed;
    @include definition-color (auto, auto, auto);
    @include definition-size (36px, 36px, auto, 14px auto 14px 2em);
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1px $primary-color;
    background-image: url('../img/icon1-HAM.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: $primary-main-color;
    transition: 0.5s;
            &:hover {
                transition: 0.5s;
                border-radius: 10%;
            }
    
}

.icon1-close {
    position: fixed;
    @include definition-color (auto, auto, auto);
    @include definition-size (36px, 36px, auto, 14px auto 14px 2em);
    box-shadow: 0px 2px 1px 1px $gener-color1;
    background-image: url('../img/closee.svg');
    background-size: cover;
    background-position: center;
    background-color: $primary-main-color;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
            &:hover {
                transition: 0.5s;   

            }
    
}

#div-title {
    @include definition-color ($secondary-header-color, transparent, auto);
    @include definition-size (100%, auto, auto, auto);
    text-align: center;
    @include definition-font ( 'Roboto', 20px, 400);
    letter-spacing: 0.2em;
}
.icon2 {
    position: fixed;
    @include definition-color (auto, auto, auto);
    @include definition-size (36px, 36px, auto, 14px 2em 14px auto);
    right: 0;
    border-radius: 50%;
    background-image: url('../img/icon2-LMODE.svg');
    background-size: cover;
    background-position: center;
    background-color: $primary-main-color;
    box-shadow: 0px 1px 1px 1px $primary-color;
    transition: 2s;
    cursor: pointer;
            &:hover {
                transition: 0.5s;
                border-radius: 10%;
                
            }
}
.icon2-alter {
    position: fixed;
    @include definition-color (auto, auto, auto);
    @include definition-size (36px, 36px, auto, 14px 2em 14px auto);
    right: 0;
    border-radius: 50%;
    
    background-image: url('../img/icon2-DMODE.svg');
    background-size: cover;
    background-position: center;
    background-color: $primary-main-color;
    box-shadow: 0px 1px 1px 1px $primary-color;
    transition: 2s;
    cursor: pointer;
            &:hover {
                transition: 0.5s;
                
            }
}

//CARD1 - PERFIL E DADOS
.title-welcome {
    display: flex;
    @include definition-color ($primary-title-color, $altern1-title-color, #00beff);
    border: 2px solid #161b21;
    @include definition-size (50%, 44px, auto, 1em auto 1em auto);
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0px 0px 0 2px $box-shadow-color;
    @include definition-font ('Roboto', 2em, bold);
    transition: background-color 0.5s ease-in-out;
}

.title-welcome-alter {
    display: flex;
    @include definition-color ($altern1-title-color, #161b21, #a32ab5);
    border: 2px solid;
    @include definition-size (50%, 44px, auto, 1em auto 1em auto);
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0px 0px 0 0 $box-shadow-color;
    @include definition-font ('Roboto', 2em, bold);
    transition: background-color 0.5s ease-in-out;
}

//CARD1 - PERFIL E DADOS


.main-container {
    @include definition-color (auto, $primary-main-color, auto);
    background: linear-gradient(149deg, $primary-main-color, $altern2-main-color);
    @include definition-size (80%, auto, 3em, 2em auto 2em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background 0.5s ease-out;
    
}
.main-container-alter {
    @include definition-color (auto, auto, auto);
    background: linear-gradient(149deg, #161b21, #a43ab5);
    @include definition-size (80%, auto, 3em, 2em auto 2em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background 0.5s ease-out;
    
}

#card-profile {
    display: flex;
    @include definition-color ($primary-profile-color, transparent, auto);
    @include definition-size (80%, 250px, 0, auto);
    border-radius: 5px;
}
.img {
    @include definition-color (auto, transparent, 5px auto);
    @include definition-size (250px, 250px, 0, 0);
    min-width: 250px;
    min-height: 250px;
    background-image: url(../img/profile.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
}

.data-img {
    display: auto;
    @include definition-color ($primary-profile-color,$gener-profile-color1, auto);
    @include definition-size (60%, 100%, 0, auto 0 auto auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}

.data-img-alter {
    display: auto;
    @include definition-color ($primary-profile-color,$nocturne-background, auto);
    @include definition-size (60%, 100%, 0, auto 0 auto auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}

#qr-code-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-size (180px, inherit, 0, auto);
    background-image: url('../img/logoinstaa.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.button-details-data {
    display: flex;
    @include definition-color (auto, transparent, auto);
    box-shadow: 0px 0px 0px 2px #a43ab5;
    border-radius: 5px;
    background-image: url('../img/qrcode.svg');
    background-size: cover;
    background-repeat: no-repeat;
    @include definition-size (32px, 32px, auto , 1em auto auto auto);
    cursor: pointer;
    transition: 0.2s;
    z-index: 3;
            &:hover {
                transition: 0.5s;
                background-image: url('../img/qrcode.svg');
                background-repeat: no-repeat;
                border-radius: 0px;
                box-shadow: 0px 0px 0px 2px #fab57d;

            }
            transition: background-image 0.5s ease-in-out;
}

#data-img2 {
    display: none;
    @include definition-color ($primary-profile-color,auto, auto);
    background-image: linear-gradient(to right top, #fab57d, #a43ab5);
    @include definition-size (60%, 100%, 0, auto 0 auto auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-image 0.5s ease-in-out;
}
#p-data-img {
    display: auto;
    align-items: center;
    justify-content: center;
    @include definition-size (auto, auto, 1em, auto);
    @include definition-font ('Roboto', 1.5em, bold);
    text-align: center;
    ;
}

#insta {
    @include definition-color ($primary-color, auto, auto);
    @include definition-size (auto, auto, 0 1rem 0 1rem , auto);
    @include definition-font ('Roboto', 0.8em, bold);
    background-image: linear-gradient(to right top, #fab57d, #a43ab5);
    border-radius: 7px;
    text-decoration: none;
   
}


//CARD2 - PROJETOS

#title-card-project {
    display: flex;
    @include definition-color ($altern1-color, $primary-color, auto);
    @include definition-size (30%, 3em, 0, 5em auto 2em auto);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
}
#p-title-card-project {
    @include definition-font ('Roboto', 32px, bold);
}
#card-project {
    display: grid;
    @include definition-color (auto, $primary-color, auto);
    @include definition-size (100%, auto, 2em, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
}
#card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.a-item {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include definition-color ($primary-color, $gener-color1, auto);
    @include definition-size (80%/3, 2em, 0, 1em auto 1em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    @include definition-font ('Roboto', 1.5em, bold);
    text-decoration: none;
    text-decoration: none;
        &:visited {
            color: unset;
        }
    transition: background-color 0.5s ease-in-out;
}

.a-item-alter {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include definition-color ($primary-color, $nocturne-background, auto);
    @include definition-size (80%/3, 2em, 0, 1em auto 1em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    @include definition-font ('Roboto', 1.5em, bold);
    text-decoration: none;
    text-decoration: none;
        &:visited {
            color: unset;
        }
    transition: background-color 0.5s ease-in-out;
}

//CARD3 - COMPETENCIAS

.card-competence {
    display: flex;
    flex-direction: column;
    @include definition-color (auto, $gener-color1, auto);
    @include definition-size (100%,auto, 0, 5em 0 2em 0);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}
.card-competence-alter {
    display: flex;
    flex-direction: column;
    @include definition-color (auto, $nocturne-background, auto);
    @include definition-size (100%,auto, 0, 5em 0 2em 0);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}
#title-card-competence {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-color ($altern1-color,$primary-color, auto);
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    @include definition-size (30%, 3em, 0, 1em auto 1em auto);
    border-radius: 5px;
    
}
#p-title-card-competence {
    @include definition-font ('Roboto', 2em, bold);
}
#icons-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px, auto) ;
    @include definition-size (70%, 100%, 1em, auto);
}
.icon {
    display: grid;
    @include definition-color (auto, transparent, auto);
    @include definition-size (49px, auto, auto, auto);
}

//CARD4 - FORM
.title-card-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-color ($primary-color, $gener-color1, auto);
    @include definition-size (30%, 3em, 0, 1em auto 1em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}
.title-card-contact-alter {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-color ($primary-color, $nocturne-background, auto);
    @include definition-size (30%, 3em, 0, 1em auto 1em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    transition: background-color 0.5s ease-in-out;
}
#p-title-card-contact {
    @include definition-font ('Roboto', 2em, bold);
}
#card-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card-contact-exchange {
    display: flex;
    align-items: center;
    justify-content: center;
    @include definition-color ($altern1-color, $primary-color, auto);
    @include definition-size (20%, 3em, 0, 1em auto 1em auto);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;

}
#icon-left {
    display: flex;
    @include definition-color (auto, auto, auto);
    background-image: url('../img/arrow-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    @include definition-size (32px, 32px, auto, auto);
    cursor: pointer;

}
#icon-center-variable {
    display: flex;
    @include definition-color (auto, transparent, auto);
    @include definition-size (32px, 32px, 0, auto);
    background-image: url('../img/inbox.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
#p-icon-center-variable {
    @include definition-font ('Roboto', 2em, bold);
}
#icon-right {
    display: flex;
    @include definition-color (auto, auto, auto);
    background-image: url('../img/arrow-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
    @include definition-size (32px, 32px, auto, auto);
    cursor: pointer;
}
#card-contact-form {
    display: flex;
    justify-content: center;
    @include definition-color (#161b21, transparent, auto);
    @include definition-size (100%, auto, 1em, 1em);
    @include definition-font ('Roboto', 1em, bold);
    text-align: center;
}
.input-form {
    display: flex;
    @include definition-color ($altern1-color, $primary-color, auto);
    @include definition-size (100%, 42px, 1em, 0em);
    border-radius: 7px;
    @include definition-font ('Roboto', 1em, bold);
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    text-align: center;
            &:focus {
                outline: $tertiary-color;
                border: 2px solid $gener-color1;
                    &::placeholder {
                        color: transparent;
                }
    }
}
.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-color ($primary-color, $gener-color1, $primary-color);
    @include definition-size (100%, auto, 1em, 0em);
    border: 2px solid $primary-color;
    border-radius: 7px;
    @include definition-font ('Roboto', 1em, bold);
    text-align: center;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
            &:focus {
                outline: $tertiary-color;
                border: 2px dotted $primary-color;
            }
            transition: background-color 0.5s ease-in-out;
}
.msg-alter {
    display: flex;
    justify-content: center;
    align-items: center;
    @include definition-color ($primary-color, $nocturne-background, $primary-color);
    @include definition-size (100%, auto, 1em, 0em);
    border: 2px solid $primary-color;
    border-radius: 7px;
    @include definition-font ('Roboto', 1em, bold);
    text-align: center;
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
            &:focus {
                outline: $tertiary-color;
                border: 2px dotted $primary-color;
            }
            transition: background-color 0.5s ease-in-out;
}
#sub {
    @include definition-color ($altern1-color, $primary-color, auto);
    @include definition-size (auto, auto, 0.5em 1em 0.5em 1em, auto);
    border-radius: 7px;
    @include definition-font ('Roboto', 1em, bold);
    box-shadow: 0px 0px 0px 2px $box-shadow-color;
    cursor: pointer;
    transition: 0.2s;
            &:hover {
                @include definition-color ($primary-color, $secondary-color, auto);
                transition: 0.2s;
            }
}


@media (max-width: 425px) {
    .lateral {
        display: flex;
        position: fixed;
        left: -100%; /* oculta o elemento na lateral */
        @include definition-size (100%, 100%, 0, 0);
        @include definition-color($gener-color1, $primary-color, auto);
        @include definition-font ( 'Roboto', 20px, 400);
        text-align: center;
        letter-spacing: 0.2em;
        box-shadow: 0px 4px 4px 0px $tertiary-color;
    
        transition: left 0.5s ease-in-out;
        
    }
    .divLateral {
        display: flex;
        flex-direction: column;
        @include definition-size (100%, 100%, 128px 0, 1rem);
        transition: opacity 0.5s ease-in-out;
        
        
    }
    .divLateralContato {
        padding-top: 1em;
        margin-bottom: 1em;
        border-top: 2px solid $gener-color1;
        border-bottom: 2px solid $gener-color1;
        border-style:dotted;
        transition: opacity 0.5s ease-in-out;
        
        
    }

    .body-closed {
        overflow: hidden;
    }
    
    .subP {
        font-size: 16px;
        text-decoration: none;
        color: $gener-color1;
            &:visited {
                color: unset;
            }
            &:hover {
                text-decoration: underline;
                color: $gener-color1;
            }
    }
    
    .gpp {
        text-decoration: none;
        color: $gener-color1;
            &:visited {
                color: unset;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
                color: $gener-color1;
            }
        @include definition-size (36px, 36px, auto, 14px auto 14px 0em);
    }
    .wpp {
        background-image: url(../img/whatsapp-brands.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-repeat: no-repeat;
        padding: auto;
        margin-right: 0;
        margin-left: 0;
        background-position: center;
        background-color: white;
        border-bottom: 3px solid #34af23 ;
        text-decoration: none;
            &:visited {
                color: unset;
                text-decoration: none;
            }
    }
    .insta {
        background-image: url(../img/instagram-brands.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-repeat: no-repeat;
        padding: auto;
        margin-right: 0;
        margin-left: 0;
        background-position: center;
        background-color: white;
        border-bottom: 3px solid #a32ab5;
    }
    .ghub {
        background-image: url(../img/github-brands.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-repeat: no-repeat;
        padding: auto;
        margin-right: 0;
        margin-left: 0;
        background-position: center;
        background-color: white;
        border-bottom: 3px solid #1e4985;
    }
    .nullLateral {
        left: 0;
        
    }
    #title {
        font-size: 18px;
    }
    .icon1-close {
        box-shadow: 0px 0px 1px 1px $gener-color1;
    }
    .icon1, .icon2, .icon2-alter {
        display: flex;
        position: relative;
        min-width: 36px;
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .title-welcome, .title-welcome-alter {
        font-size: 0.9em;
        width: fit-content;
        padding-left: 1em;
        padding-right: 1em;
        box-shadow: none;
        border: none;
        font-size: 1em;
    }
    .title-welcome{
        margin-top: 0;
        background-color: #161b21b0;
        color: $altern1-color;
        border-radius: 0;
        width: 100%;
    }
    .title-welcome-alter {
        margin-top: 0;
        border: #00beff;
        border-radius: 0;
        width: 100%;
    }
    .main-container ,.main-container-alter {
        width: 100%;
        border-radius: 0 ;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    .main-container {
        background:linear-gradient(180deg, transparent 1%,#161b21 2%, #00beff 100%);
    }
    .main-container-alter {
        background:linear-gradient(180deg, transparent 1%,#161b21 2%, #a43ab5 100%);
    }
    #card-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include definition-size (100%, auto, 0, auto);
        
    }
    .img, .igm-alter {
        margin-top: 2em;
        border-radius: 50%;
        min-width: 180px;
        width: 180px;
        min-height: 180px;
        height: 180px;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;

    }
    .data-img, .data-img-alter, #p-data-img {
        display: auto;
        border-radius: 0;
        margin: auto;
        width: 100%;
        background-color: transparent;
        color: $altern1-color;
        font-size: 1.1em;
        box-shadow: none;

    }
    .button-details-data {
        display: none;
    }
    #card-project {
        border-radius: 0;
        background-color: #161b21b0;
        box-shadow: none;
    }
    #card-content {
        display: grid;
        gap: 0px;
    }
    .a-item {
        display: grid;
        gap: 0px;
        @include definition-size (100%, 2em, 0, 4px auto 4px auto);
        border-radius: 7px;
                &:visited {
                    color: unset;
                }
    }
    .a-item-alter {
        @include definition-color ($primary-color, $nocturne-background, auto);
        background-color: #161b21b0;
                &:visited {
                    color: $altern1-color
                }
    }
    #title-card-project {
        margin-top: 2em;
        background-color: #161b21b0;
        box-shadow: none;
    }
    #title-card-project, .title-card-contact, .title-card-contact-alter {
        width: fit-content;

        padding-left: 1em;
        padding-right: 1em;
        border-radius: 7px;
        font-size: 1em;
        box-shadow: none;
    }
    #title-card-competence {
        width: max-content;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 7px;
        font-size: 1em;
        background-color: #161b21b0;
        box-shadow: none;
    }
    .card-competence, .card-competence-alter{
        border-radius: 0;
        box-shadow: none;

    }
    .card-competence-alter {
        background-color: #e5e5f71d;
    }
    #card-contact-exchange {
        width: fit-content;
    }
    .icon {
        width: 36px;
    }
}
@media (max-width : 1023px) {
    #title {
        font-size: 18px;
    }
    .icon1, .icon2, .icon2-alter {
        min-width: 36px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .title-welcome, .title-welcome-alter {
        font-size: 0.9em;
        width: fit-content;
        padding-left: 1em;
        padding-right: 1em;
        box-shadow: none;
        border: none;
        font-size: 1em;
    }
    .title-welcome{
        margin-top: 0;
        background-color: #161b21b0;
        color: $altern1-color;
        border-radius: 0;
        width: 100%;
    }
    .title-welcome-alter {
        margin-top: 0;
        border: #00beff;
        border-radius: 0;
        width: 100%;
    }
    .main-container ,.main-container-alter {
        width: 100%;
        border-radius: 0 ;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    .main-container {
        background:linear-gradient(180deg, transparent 1%,#161b21 2%, #00beff 100%);
    }
    .main-container-alter {
        background:linear-gradient(180deg, transparent 1%,#161b21 2%, #a43ab5 100%);
    }
    #card-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include definition-size (100%, auto, 0, auto);
        
    }
    .img, .igm-alter {
        margin-top: 2em;
        border-radius: 50%;
        min-width: 180px;
        width: 180px;
        min-height: 180px;
        height: 180px;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;

    }
    .data-img, .data-img-alter, #p-data-img {
        display: auto;
        border-radius: 0;

        width: 100%;
        background-color: transparent;
        color: $altern1-color;
        font-size: 1.1em;
        box-shadow: none;

    }
    .button-details-data {
        display: none;
    }
    #card-project {
        border-radius: 0;
        background-color: #161b21b0;
        box-shadow: none;
        
    }
    
    #title-card-project {
        margin-top: 2em;
        background-color: #161b21b0;
        box-shadow: none;
    }
    #title-card-project, .title-card-contact, .title-card-contact-alter {
        width: fit-content;

        padding-left: 1em;
        padding-right: 1em;
        border-radius: 7px;
        font-size: 1em;
        box-shadow: none;
    }
    #title-card-competence {
        width: max-content;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 7px;
        font-size: 1em;
        background-color: #161b21b0;
        box-shadow: none;
    }
    .card-competence, .card-competence-alter{
        border-radius: 0;
        box-shadow: none;

    }
    .card-competence-alter {
        background-color: #e5e5f71d;
    }
    #card-contact-exchange {
        width: fit-content;
    }
    .icon {
        width: 36px;
    }
}
@media (min-width: 426px) {
    #card-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .a-item {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0px;
        @include definition-size (80%/3, 2em, auto, auto);
        min-width: fit-content;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 7px;
                &:visited {
                    color: unset;
                }
    }
    .a-item-alter {
        @include definition-color ($primary-color, $nocturne-background, auto);
        @include definition-size (80%/3, 2em, auto, auto);
        min-width: fit-content;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        background-color: #161b21b0;
                &:visited {
                    color: $altern1-color
                }
    }
}
@media (min-width: 1023px) {
    #card-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .a-item {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include definition-color ($primary-color, $gener-color1, auto);
        @include definition-size (80%/3, 2em, 0, 1em auto 1em auto);
        border-radius: 5px;
        box-shadow: 0px 0px 0px 2px $box-shadow-color;
        @include definition-font ('Roboto', 1.5em, bold);
        text-decoration: none;
        text-decoration: none;
            &:visited {
                color: unset;
            }
    }
    
    .a-item-alter {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include definition-color ($primary-color, $nocturne-background, auto);
        @include definition-size (80%/3, 2em, 0, 1em auto 1em auto);
        border-radius: 5px;
        box-shadow: 0px 0px 0px 2px $box-shadow-color;
        @include definition-font ('Roboto', 1.5em, bold);
        text-decoration: none;
        text-decoration: none;
            &:visited {
                color: unset;
            }
    }
}
@media (max-width: 1280px) {
    .data-img, .data-img-alter {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    #p-data-img {
        color: $altern1-color;
    }
    .button-details-data {
        background-color: $altern1-color;
    }
    #data-img2 {
        background-color: transparent;
        box-shadow: none;
        background-image: none;
    }
    #qr-code-insta {
        margin-top: 1em;
        width: 180px;
        height: 180px;
        background-color: $altern1-color;
        border-radius: 7px;
        background-position: center;
    }
}
