
@mixin definition-color ($color,$background-color,$border-color){
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
}
@mixin definition-size ($width,$height,$padding,$margin){
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;

}
@mixin definition-font ($font-family,$font-size,$font-weight){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}